body {
    font-family: 'Roboto';
  }

.np-container {
    text-align: center;
    height: 405px;
    width: 100%;
    padding-top: 60px;
    background: linear-gradient(224deg, #89dffd, #3c70ff, #cf31ff);
    background-size: 600% 600%;
    position: fixed;
    border-bottom-right-radius: 200px;
    -webkit-animation: gradient 30s ease infinite;
    -moz-animation: gradient 30s ease infinite;
    animation: gradient 30s ease infinite;
    border-bottom: 2px solid whitesmoke;
}

@-webkit-keyframes gradient {
    0%{background-position:92% 0%}
    50%{background-position:9% 100%}
    100%{background-position:92% 0%}
}
@-moz-keyframes gradient {
    0%{background-position:92% 0%}
    50%{background-position:9% 100%}
    100%{background-position:92% 0%}
}
@keyframes gradient { 
    0%{background-position:92% 0%}
    50%{background-position:9% 100%}
    100%{background-position:92% 0%}
}

.np-logout {
    font-family: Roboto;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: white;
    border: 2px solid white;
    color: black;
    font-weight: bolder;
    font-size: 20px;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.5);
}

.np-key {
    font-family: Roboto;
    position: absolute;
    top: 10px;
    right: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    height: 40px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: white;
    border: 2px solid white;
    border-right: none;
    color: black;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.5);
}

.np-addons{
    display: flex;
    color: black;
    margin: auto;
}

.np-info {
    text-align: left;
    margin: 10px;
    margin-top: 20px;
    padding-top: 10px;
    height: 65px;
    -webkit-flex: 1 1;
    flex: 1 1;
    border-bottom: 1px solid lightgrey;
}

.np-info-songname {
    margin-top: 5px;
    font-size: 18px;
    margin-bottom: 2px;
    white-space: nowrap;
    overflow-x: scroll;
    width: 100%;
    color: black;
    font-weight: 500;
}

.np-info-artist {
    font-size: 14px;
    color: black;
    font-weight: 300;
}

.np-info-songname1 {
    margin-top: 5px;
    font-size: 18px;
    margin-bottom: 2px;
    white-space: nowrap;
    overflow-x: scroll;
    width: 100%;
    color: black;
    font-weight: 500;
}

.np-info-artist1 {
    font-size: 14px;
    color: black;
    font-weight: 300;
}

.np-imagecontainer{
    text-align: center;
    display: inline-block;
    height: 300px;
    width: 300px;
    background-color: white;
    margin-top: 10px;
    border-radius: 400px;
    box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.np-image {
    height: 290px;
    width: 290px;
    border: 1px solid white;
    margin-top: 5px;
    border-radius: 400px;
}

.np-button-container{
    margin-top: 10px;
    flex: 2;
    text-align: left;
    margin-left: 5px;
}

.np-button {
    color: black;
    border: 1px solid whitesmoke;
    margin-top: 8px;
    background-color: white;
    margin-right: 2px;
    margin-left: 2px;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 50px;
    border-width: 2px;
}

@media (min-width: 768px) { 
    .np-container {
        text-align: center;
        height: 100%;
        width: 100%;
        padding-top: 60px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        box-sizing: border-box;
        background: linear-gradient(224deg, #89dffd, #3c70ff, #cf31ff);
        background-size: 600% 600%;
        position: relative;
        border-bottom-right-radius: 200px;
        -webkit-animation: gradient 30s ease infinite;
        -moz-animation: gradient 30s ease infinite;
        animation: gradient 30s ease infinite;
        border-bottom: 2px solid whitesmoke;
        flex: 1;
    }
    .np-imagecontainer{
        text-align: center;
        display: inline-block;
        height: 500px;
        width: 500px;
        background-color: white;
        margin-top: 50px;
        border-radius: 100%;
        margin-left: -210px;
        box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        
    }
    .np-imagecontainer:hover{
        animation-name: pulse;
        animation-duration: .4s;
        animation-iteration-count: infinite;
    }
    .np-image {
        height: 490px;
        width: 490px;
        border: 1px solid white;
        margin-top: 5px;
        border-radius: 400px;
    }
    
    .np-info {
        text-align: left;
        padding: 10px;
        height: 65px;
        flex: 1;
        position: fixed;
        top: 300px;
        left: 650px;
        border-bottom: none !important;
    }
    .np-info-songname {
        margin-top: 5px;
        font-size: 34px;
        margin-bottom: 2px;
        white-space: nowrap;
        overflow-x: hidden;
        width: 200px;
        color: white;
        font-weight: 500;
    }
    
    .np-info-artist {
        font-size: 18px;
        color: white;
        font-weight: 300;
    }

    @keyframes pulse {
        from { transform: scale(1); }
        50% { transform: scale(1.01); }
        to { transform: scale(1); }
      }
}

.playPause {
    background-color: white !important;
    text-transform: none !important;
    z-index: 3;
    margin: 5px !important;
    margin-top: 0;
}