body {
    font-family: 'Roboto';
  }

.np-container {
    background-image: linear-gradient(#383838, black);
    /* width: 100%; This was breaking front end */
    height: 285px;
}

.np-info {
    color: white;
    text-align: left;
    padding: 10px;
}

.np-info-songname {
    font-size: 18px;
    margin-bottom: 2px;
}

.np-info-artist {
    font-size: 14px;
    color: #d1d1d1;
}

.np-imagecontainer{
    text-align: center;
    display: inline-block;
    height: 200px;
    width: 200px;
    background-color: lightpink;
    margin-top: 20px;
}

.np-image {
    margin-top: 10px;
    height: 200px;
    width: 200px;
}

.connect {
    background-color: white;
}

.play {
    background-color: white;
}