.pl-container {
    background-color: white;
    height: 100vh;
    overflow: scroll;
}

.pl-header {
    height: 40px;
    color: black;
    text-align: left;
}

.pl-logout {
    display: inline-block;
    width: 10%;
}

.pl-key {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    width: 80%;
}

.songlist-container {
    position: relative;
    margin-top: 435px;
    background-color: white;
    min-height: 100%;
}

.searchform-container {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.paneName {
    margin-top: 5px;
    font-size: 18px;
    margin-bottom: 2px;
    overflow-x: hidden;
}

.paneArtist {
    margin-top: 4px;
    font-size: 14px;
    color: black;
    margin-bottom: 7px;
}

@media (min-width: 768px) { 
    .pl-container {
        display: flex;
        flex-direction: row;
        background-color: white;
        height: 100.2vh;
        overflow: scroll;
    }
    .pl-np-container{
        flex: 1;
    }
    .songlist-container {
        flex: .4;
        position: relative;
        margin-top: 0px;
        margin-bottom: 70px;
        padding-right: 20px;
        padding-left: 20px;
        background-color: white;
        max-height: 100%;
        min-height: 0%;
        overflow: scroll;
    }
    .songlist-container::-webkit-scrollbar { width: 0 !important }
    .songlist-container::-webkit-scrollbar { height: 0 !important }
    
}