.pl-container {
    background-color: white;
    height: 100vh;
    overflow: scroll;
}

.pl-header {
    height: 40px;
    color: black;
    text-align: left;
}

.pl-logout {
    display: inline-block;
    width: 10%;
}

.pl-key {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    width: 80%;
}

.songlist-container {
    position: relative;
    margin-top: 415px;
    background-color: white;
    min-height: 100%;
}

.searchform-container {
    position: fixed;
    bottom: 0;
    width: 100%;
}