html {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto Slab';
  text-align: center;
}

.song .songName {
  display:inline-block;
  margin-right:10px;
  margin-left: 10px;
}

.songsFooter {
  position:absolute;
left:0;
bottom:0;
right:0;
}

.song button{
  width: 4%;
  height: 4%;
  text-align: center;
}
