body {
  text-align: center;
  margin: 0;
}

/* html {
  padding: 0;
  margin: 0;
  background-color: black;
}

body {
  font-family: 'Roboto';
  background-color: white;
}

.songsHeader{
  margin-left: -10px;
  margin-top: -20px;
  margin-right: -10px;
}

.heading{
  color:white;
  text-align: center;
  font-weight: 900;
  font-size: 25px;
  background-color: #383838;
  height: 50px;
  padding-top: 30px;
  width: 100%;
}

.nowPlaying{
  color:white;
}

.song .songName {
  display:inline-block;
  margin-right:10px;
  margin-left: 10px;
}

.songsFooter {
position:absolute;
left:8px;
bottom:8px;
right:8px;
background-color: black;
}

.song button{
  width: 4%;
  height: 4%;
  text-align: center;
} */
